.app-container {
  background: #f6f6f8;
  min-height: 100vh;
  height: fit-content;
  --primary-color: #007555;
}
.navbar {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #d1d1d1;
  align-items: center;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  position: sticky;
}
.title {
  color: #7e8185;
  font-weight: 600;
  margin: 10px;
}
.monk-logo {
  width: 40px;
  height: 40px;
}

.app-content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: fit-content;
}
.app-content .header {
  font-size: 20px;
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-default {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 25px;
  /* background: var(--primary-color); */
  color: #666666;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #999999;

  transition: transform 0.1s ease, background-color 0.2s ease;
}
.btn-default:active {
  transform: scale(0.98);
  background: #e5e5e5;
}
.btn-primary {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 25px;
  background: var(--primary-color);
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--primary-color);

  transition: transform 0.1s ease, background-color 0.2s ease;
}
.btn-primary:active {
  transform: scale(0.98);
  background: #00553e;
}
.btn-secondary {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 25px;
  background: white;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease;
  border: 2px solid var(--primary-color);
}
.btn-secondary:active {
  transform: scale(0.99);
  background: #f6f6f6;
}
.btn-link {
  display: flex;
  color: #006eff;
  text-decoration: underline;
  cursor: pointer;
}
.btn-link:hover {
  color: #0056c6;
}
.font15 {
  font-size: 15px;
}
.font14 {
  font-size: 14px;
}
.ml-1 {
  margin-left: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.ml-5 {
  margin-left: 50px;
}
.mt-2 {
  margin-top: 20px;
}
.disabled {
  pointer-events: none;
  opacity: 0.8;
  color: gray;
}
.custom-scrollbar {
  /* width: 3dfsdf00px; */
  height: 100%; /* Fixed height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9b9a9a; /* Scrollbar color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker color on hover */
}
.loader {
  display: inline-block; /* Ensure it behaves like an inline element */
  animation: spin 0.5s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}
