.app-container {
  background: #f6f6f8;
  min-height: 100vh;
  height: fit-content;
  --primary-color: #007555;
}
.navbar {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #d1d1d1;
  align-items: center;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  position: sticky;
}
.title {
  color: #7e8185;
  font-weight: 600;
  margin: 10px;
}
.monk-logo {
  width: 40px;
  height: 40px;
}

.product-list {
  width: 800px;
  margin-top: 80px;
}

.app-content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 55px);
}
.app-content .header {
  font-size: 20px;
  font-weight: 600;
}

.list-container {
  margin-top: 50px;
  width: 80%;
}

.list-container .list-header {
  display: grid;
  grid: 20px / repeat(2, 1fr);
  margin-left: 85px;
}

.list-header span {
  padding-left: 40px;
  font-weight: 500;
}

.list-row {
  display: flex;
  padding: 10px;
  align-items: center;
}
.list-row .details {
  display: flex;
  align-items: center;
  gap: 15px;
}
.item-select {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
  width: 250px;
  height: 38px;
  border-radius: 4px;
}

.item-select input {
  padding-left: 15px;
  height: 100%;
  width: 100%;
  border: 2px solid #ededed;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.item-select .edit-btn {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 4px 0px;
  padding-right: 5px;
  padding-left: 5px;
}
.item-select .edit-btn:hover {
  background-color: rgb(233, 233, 233);
}

.discount {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
  width: 100px;
  height: 38px;
  border: 2px solid #ededed;
  outline: none;
  padding-left: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}
.react-select__control {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
  border-width: 2px;
  border-style: solid;
  border-color: #ededed;
}

.highlight:hover {
  border: 2px solid #007555;
}
.cursor-pointer {
  cursor: pointer;
}
.close-btn {
  color: gray;
}
.close-btn:hover {
  color: black;
}

.child .react-select__control,
.child .discount,
.child .item-select,
.child .item-select input {
  border-radius: 18px !important;
}
.child .item-select {
  width: 190px;
}
.child .edit-btn {
  display: none;
}

.btn-primary {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  background: var(--primary-color);
  color: white;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);

  transition: transform 0.1s ease, background-color 0.2s ease;
}
.btn-primary:active {
  transform: scale(0.98);
  background: #00553e;
}
.btn-secondary {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  background: white;
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease;
  border: 1.5px solid var(--primary-color);
}
.btn-secondary:active {
  transform: scale(0.99);
  background: #f6f6f6;
}
.font15 {
  font-size: 15px;
}
.font14 {
  font-size: 14px;
}
.ml-1 {
  margin-left: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.ml-5 {
  margin-left: 50px;
}

.custom-scrollbar {
  /* width: 3dfsdf00px; */
  height: 100%; /* Fixed height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9b9a9a; /* Scrollbar color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker color on hover */
}
